@font-face {
  font-display: swap;
  font-family: 'Sofia Sans Semi Condensed';
  src: local('Sofia Sans Semi Condensed'),
       url(../../fonts/SofiaSansSemiCondensed-VariableFont_wght.ttf) format('truetype');
  font-weight: 500;
}

@font-face {
  font-display: swap;
  font-family: 'Sofia Sans Semi Condensed';
  src: local('Sofia Sans Semi Condensed'),
       url(../../fonts/SofiaSansSemiCondensed-VariableFont_wght.ttf) format('truetype');
  font-weight: 900;
}

:root.theme-light {
  --body-color: #F0F0F0;
  --background-color: #FFFFFF;

  --border-color: #548EAA;

  --text-color: #333;
  --text-color-title: #6F7577;
  --text-color-accent: #548EAA;
  --text-color-icon: #929CA5;

  --color-button: #548EAA;
  --color-button-hover: #39728E;

  --color-icon: #BBCDD6;
  --color-icon-like: #548EAA;
  --color-icon-before: #7AA600;

  --font-family-body: 'Sofia Sans Semi Condensed', Arial, sans-serif;
  --font-family-title: 'Sofia Sans Semi Condensed', Arial, sans-serif;
  --font-family-subtitle: 'Sofia Sans Semi Condensed', Arial, sans-serif;
  --font-family-botton: 'Sofia Sans Semi Condensed', Arial, sans-serif;

  /* --like-color: #f00; */
  /* --title-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem); */
  /* --subtitle-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem); */
  /* --text-menu-size: 14px; */
  /* --text-size: 18px; */
  /* --heading-font-weight: 700; */
  /* --text-font-weight: 400; */
  /* --c1: #d3d3d3; */
  /* --c2: #e7e7e7; */
  /* --c3: #1a1a1a; */
}

:root.theme-dark {
  --body-color: #080808;
  --background-color: #171717;

  --border-color: #4cb7eb;

  --text-color: #dddddd;
  --text-color-title: #aaa;
  --text-color-accent: #4cb7eb;
  --text-color-icon: #666;

  --color-button: #4cb7eb;
  --color-button-hover: #3193c4;

  --color-icon: #6c8694;
  --color-icon-like: #4cb7eb;
  --color-icon-before: #84b300;

  --font-family-body: 'Sofia Sans Semi Condensed', Arial, sans-serif;
  --font-family-title: 'Sofia Sans Semi Condensed', Arial, sans-serif;
  --font-family-subtitle: 'Sofia Sans Semi Condensed', Arial, sans-serif;
  --font-family-botton: 'Sofia Sans Semi Condensed', Arial, sans-serif;

  /* --like-color: #f00; */
  /* --heading-font-weight: 785; */
  /* --text-font-weight: 465; */
  /* --c1: #000; */
  /* --c2: #007f0c; */
  /* --c3: #004306; */
}

@media (prefers-color-scheme: dark) {
  
  :root {
    --body-color: #080808;
    --background-color: #171717;
  
    --border-color: #4cb7eb;
  
    --text-color: #dddddd;
    --text-color-title: #aaa;
    --text-color-accent: #4cb7eb;
    --text-color-icon: #666;
  
    /* --text-color-shadow: #080808; */
  
    --color-button: #4cb7eb;
    --color-button-hover: #3193c4;
  
    --color-icon: #6c8694;
    --color-icon-like: #4cb7eb;
    --color-icon-before: #84b300;

    --font-family-body: 'Sofia Sans Semi Condensed', Arial, sans-serif;
    --font-family-title: 'Sofia Sans Semi Condensed', Arial, sans-serif;
    --font-family-subtitle: 'Sofia Sans Semi Condensed', Arial, sans-serif;
    --font-family-botton: 'Sofia Sans Semi Condensed', Arial, sans-serif;
  
    /* --like-color: #f00; */
    /* --heading-font-weight: 785; */
    /* --text-font-weight: 465; */
    /* --c1: #000; */
    /* --c2: #007f0c; */
    /* --c3: #004306; */
  }
}
