.site-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--background-color);
  min-height: 60px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.site-logo {
  padding-inline: 40px;
}

.site-logo__img {
  width: 200px;
  object-fit: cover;
  object-position: center;
  padding: 5px;
}

.site-navigation {
  display: flex;
  align-items: center;
  padding-inline: 40px;
}

.site-navigation__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}

.site-navigation__item {
  display: flex;
  align-items: center;
  min-height: 60px;
}

.site-navigation__item,
.site-navigation__item button {
  text-transform: uppercase;
  color: var(--text-color-title);
  transition: color var(--color-transition);
}

/* drop-down-menu START */

.menu-dropdown[data-has-children] {
  position: relative;
}

.menu-dropdown__btn {
  color: inherit;
  transition: color var(--color-transition);
}

.menu-dropdown__btn:hover {
  color: var(--text-color-accent);
}

/* Первый уровень вложенности */
.enhanced .menu-dropdown__list {
  /* display: none; */
  position: absolute;
  left: 0;
  top: 100%;
  padding: 28px 20px 20px 20px;
}

/* .enhanced .menu-dropdown:hover .menu-dropdown__list {
  display: block;
} */

.enhanced .menu-dropdown__list::before {
  position: absolute;
  content: '';
  top: 8px;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--background-color);
  box-shadow: var(--box-shadow-dropdown);
  border-radius: 5%;
  z-index: -1;
}

.menu-dropdown__list a,
.menu-dropdown__list button {
  text-transform: capitalize;
  white-space: nowrap;
}

.menu-dropdown__item {
  padding-block-end: 10px;
  position: relative;
}

.menu-dropdown__item:last-of-type {
  padding-block-end: 0;
}

/* Второй уровень вложенности */

.enhanced .menu-dropdown__item .menu-dropdown__list {
  top: -80%;
  left: 120%;
}

/* drop-down-menu END */